@charset "utf-8";
@import "normalize";

body {
  background: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 1em;
}


@media (min-width: 1024px) {
  body {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 40%;
  }
}

a {
  color: #305d9a;
  text-decoration: none;
  &:hover {
    color: #5a95e5;
  }
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  a {
    text-decoration: none;
  }
}

h2 {
  color: #aaa;
  margin: 0;
}

h3 {
  color: #305d9a;
  margin: 0;
}

article {
  margin: 1em 0;
}

time {
  color: #aaa;
}

.highlight {
  overflow: auto;
  padding: 1.2em;
}

footer {
  margin-top: 2.5em;
  text-align: center;
}
