<footer>
  <div>© <%= Time.new.year %> Tirdad C.</div>
  <div>
    <a href="/about/">About</a> |
    <a href="http://stackoverflow.com/users/3102766/tirdadc">Stack Overflow</a> |
    <a href="https://github.com/tirdadc">GitHub</a>
  </div>
</footer>
