---
title: About
---

<article>
  <h3>About</h3>
  <div>
    <p>
      <a href="http://stackoverflow.com/users/3102766/tirdadc">
        <img src="http://stackoverflow.com/users/flair/3102766.png" width="208" height="58" alt="profile for tirdadc at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for tirdadc at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </a>
    </p>
  </div>

  <div>
    <p>Full-stack senior developer with over 14 years of experience with FOSS.</p>
    <p><a href='https://www.esiea.fr/'>École supérieure d'informatique, électronique, automatique (ESIEA)</a> graduate, class of 2004.</p>
  </div>

  <h4>Present:</h4>
  <dl>
    <dt><a href='http://rubyonrails.org/'>Ruby on Rails</a></dt>
    <dd>Web application framework running on the Ruby programming language.</dd>

    <dt><a href='https://middlemanapp.com/'>Middleman</a></dt>
    <dd>Modern static site generator built with Ruby.</dd>
  </dl>

  <strong>JavaScript Frameworks:</strong>
  <dl>
    <dt><a href='https://facebook.github.io/react/'>React.js</a></dt>
    <dd>Open-source JavaScript library providing a view for data rendered as HTML.</dd>

    <dt><a href='https://lodash.com/'>Lodash</a></dt>
    <dd>JS data manipulation / transformation library.</dd>

    <dt><a href='http://zeptojs.com/'>Zepto.js</a></dt>
    <dd>Lightweight alternative to jQuery with all of the stuff you actually use.</dd>
  </dl>

  <strong>Front-end Frameworks:</strong>
  <dl>
    <dt><a href='http://semantic-ui.com/'>Semantic UI</a></dt>
    <dd>Exhaustive UI/CSS component framework.</dd>

    <dt><a href='http://getbootstrap.com/'>Bootstrap</a></dt>
    <dd>Overused but still valuable CSS/HTML/JS framework.</dd>

    <dt><a href='http://purecss.io/'>Pure.css</a></dt>
    <dd>Responsive nano CSS framework.</dd>
  </dl>

  <dl>
    <dt>Databases:</dt>
    <dd>
      <ul>
        <li>Postgres</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>SQLite</li>
        <li>Oracle</li>
      </ul>
    </dd>
    <dt>Hosting:</dt>
    <dd>
      <ul>
        <li>AWS</li>
        <li>Linode</li>
        <li>DigitalOcean</li>
      </ul>
    </dd>
    <dt>Integrations:</dt>
    <dd>
      <ul>
        <li>Google Maps</li>
        <li>Google Analytics</li>
        <li>OAuth</li>
        <li>Mailgun, Mandrill, Mailchimp</li>
      </ul>
    </dd>
    <dt>Payment Systems:</dt>
    <dd>
      <ul>
        <li>PayPal</li>
        <li>Stripe</li>
        <li>Braintree</li>
      </ul>
    </dd>
  </dl>

  <h4>Past:</h4>
  <dl>
    <dt>Drupal</dt>
    <dd>
      Open-source content management system / framework.<br/>
      Lead developer + architect on flagship projects and <a href='https://www.drupal.org/u/tirdadc'>contributed to the ecosystem</a> from 2008-2012.
    </dd>
    <dt>Custom Content management systems (PHP)</dt>
    <dd>Over a decade of experience building & working on custom applications / CMS with PHP.</dd>
  </dl>

  <h4>Future:</h4>
  <dl>
    <dt><a href='http://elixir-lang.org/'>Elixir</a></dt>
    <dt><a href='http://www.phoenixframework.org/'>Phoenix</a></dt>
    <dt><a href='https://vuejs.org/'>Vue.js</a></dt>
    <dd>Minimalist and powerful JS library.</dd>
  </dl>
</article>
